/*Page Styles*/
@import url(https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css);


body {
	font-family: 'Open Sans', sans-serif;
	font-size: 12px;
	color: #4c4c4c;
	padding-top: 4%;
    font-weight: 200;
}
a{
    !important;text-decoration: none;
    font-weight: 200;


}
.logo {
	width: 48px;
	height: 15%;
}
h1,h2,h3,h4,h5,h6{
font-family: 'Open Sans', sans-serif;
}
.title {
	font-family: 'Open Sans', sans-serif;
	font-size: 14px;
	color: #4c4c4c;
}
h1 {
	font-size: 32px;
	font-weight: 700;
	color: #4c4c4c;
	text-align: center;
	padding-top: 10px;
	margin-top: 20px;
	margin-bottom: 10px;
}

.button {

	padding: 8px 12px;
	background: #6b9cb2;
	display: block;
	width: 120px;
	margin-left: 95px;
	border-radius: 3px;
	-webkit-transition: all 0.3s;
	-moz-transition: all 0.3s;
	transition: all 0.3s;
	text-align: center;
	font-size: 0.8em;
	box-shadow: 0px 1px 4px rgba(0, 0, 0, 0.10);
	-moz-box-shadow: 0px 1px 4px rgba(0, 0, 0, 0.10);
	-webkit-box-shadow: 0px 1px 4px rgba(0, 0, 0, 0.10);
}
.split {
	height: 100%;
	width: 30%;
	position: fixed;
	z-index: 2;
	overflow-x: hidden;
	top: 68px;
}
.split2 {
	height: 100%;
	width: 70%;
	position: fixed;
	z-index: 2;
	overflow-x: hidden;
	top: 68px;
}
/* Control the left side */

.left {
	left: 0;
	background-color: #ffffff;
}
/* Control the right side */

.right {
	right: 0;
	background-color: #4844ff;
	background: url(../images/concordia1.PNG);
	background-position: center center;
	background-size: cover;
	background-repeat: no-repeat;
	overflow: hidden;
}
.signUpHeading {
	!important;
	text-align: left;
	padding-left: 30pt;
	font-size: 27pt;
	font-family: 'Open Sans', sans-serif;
}
.signUpForm {
	padding-top: 7%;
	padding-left: 20px;
}
.signUpLabel {
	display: inline-block;
	float: left;
	clear: left;
	width: 200px;
	text-align: right;
	padding-left: 5px;
	padding-right: 30px;
	padding-top: 7px;
	padding-bottom: 10px;
	font-size: 16pt;
	font-family: 'Open Sans', sans-serif;
}
.form-control {
	margin-bottom: 10px;
	margin-top: 12px;
	padding: 8pt 60pt 8pt 60pt;
}
#btnSignUp {
	text-align: center;
	padding: 8pt 140pt 8pt 140pt;
	margin-top: 15pt;
	margin-left: 75px;
}
.loginSignUp {
	padding-left: 30px;
}
.useEmail {
	font-size: 12pt;
	padding-left: 30pt;
	padding-right: 30pt;
}
.future {
	padding-left: 30pt;
	font-size: 12pt;
}
.headerColor {
	background-color: #0A2E50;
	color: white;
}
.w3-top {
	font-size: 14pt;
	color: black;
	display: inline-block;
}
a {
	text-decoration: none;
}
.indexBackground {
	background: url(../images/concordia12.jpg);
	background-position: center center;
	background-size: cover;
	margin-top: -14pt;
	margin-left: -15pt;
	height: 60vh;
	width: 130%;
	background-repeat: no-repeat;
	overflow: hidden;
}
#footer {
	!important;
	background-color: #0A2E50;
	color: white;
}
.gotosignup {
	background-color: midnightblue;
}
.textbooks {
	width: 80%;
	height: 80%;
}
.indexContent {
	margin-top: 15px;
}
.textbookBio {
	margin-left: 15pt;
	font-size: 12pt;
	line-height: 200%;
}
* {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	outline: none;
}
.form-control {
	position: relative;
	font-size: 16px;
	height: auto;
	padding: 10px;
	@include box-sizing(border-box);
}
.signInBack {
	background: url(http://i.imgur.com/GHr12sH.jpg) no-repeat center center fixed;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
}
.login-form {
	margin-top: 60px;
}
form[role=login] {
	color: #5d5d5d;
	background: #f2f2f2;
	padding: 26px;
	border-radius: 10px;
	-moz-border-radius: 10px;
	-webkit-border-radius: 10px;
}
form[role=login] img {
	display: block;
	margin: 0 auto;
	margin-bottom: 35px;
}
form[role=login] input {
	font-size: 18px;
	width: 350px;
	margin: 16px 0;
	border-radius: 10px;
	-moz-border-radius: 10px;
	-webkit-border-radius: 10px;
}
form[role=login] button {
	font-size: 18px;
	margin: 16px 0;
	background: dodgerblue;
	color: white;
	border-radius: 10px;
	-moz-border-radius: 10px;
	-webkit-border-radius: 10px;
	width: 345px;
	height: 60px;
}
form[role=login]>div {
	text-align: center;
}
.form-links {
	text-align: center;
	margin-top: 1em;
	margin-bottom: 50px;
}
a.links {
	color: #2f46ff;
}
.login-form {
	width: 400px;
	height: 100px;
	position: fixed;
	top: 20%;
	left: 38%;
}
/* validation.css file */

.LV_valid_field {
	border: 1px solid rgba(0, 180, 0, 0.75);
}
.LV_invalid_field {
	border: 1px solid rgba(240, 0, 0, 0.75);
}
/* validation.css */

.LV_valid {
	color: rgba(0, 180, 0, 0.75);
}
.LV_invalid {
	color: rgba(240, 0, 0, 0.75);
}
.LV_validation_message {
	margin: 0 0 0 2px;
}
/* this is for the homepage*/

.homeLeft {
	height: 100%;
    width: 400px;
    position: fixed;
    z-index: 1;
    top: 69px;
    left: 0;
    background-color: #111;
    overflow-x: hidden;
    padding-top: 20px;
	color: white;
	background: rgba(11, 45, 77, 1);
	background: -moz-linear-gradient(-45deg, rgba(11, 45, 77, 1) 0%, rgba(10, 46, 80, 0.99) 16%, rgba(43, 66, 87, 0.98) 42%, rgba(214, 214, 214, 0.96) 87%, rgba(245, 247, 250, 0.95) 100%);
	background: -webkit-gradient(left top, right bottom, color-stop(0%, rgba(11, 45, 77, 1)), color-stop(16%, rgba(10, 46, 80, 0.99)), color-stop(42%, rgba(43, 66, 87, 0.98)), color-stop(87%, rgba(214, 214, 214, 0.96)), color-stop(100%, rgba(245, 247, 250, 0.95)));
	background: -webkit-linear-gradient(-45deg, rgba(11, 45, 77, 1) 0%, rgba(10, 46, 80, 0.99) 16%, rgba(43, 66, 87, 0.98) 42%, rgba(214, 214, 214, 0.96) 87%, rgba(245, 247, 250, 0.95) 100%);
	background: -o-linear-gradient(-45deg, rgba(11, 45, 77, 1) 0%, rgba(10, 46, 80, 0.99) 16%, rgba(43, 66, 87, 0.98) 42%, rgba(214, 214, 214, 0.96) 87%, rgba(245, 247, 250, 0.95) 100%);
	background: -ms-linear-gradient(-45deg, rgba(11, 45, 77, 1) 0%, rgba(10, 46, 80, 0.99) 16%, rgba(43, 66, 87, 0.98) 42%, rgba(214, 214, 214, 0.96) 87%, rgba(245, 247, 250, 0.95) 100%);
	background: linear-gradient(135deg, rgba(11, 45, 77, 1) 0%, rgba(10, 46, 80, 0.99) 16%, rgba(43, 66, 87, 0.98) 42%, rgba(214, 214, 214, 0.96) 87%, rgba(245, 247, 250, 0.95) 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#0b2d4d', endColorstr='#f5f7fa', GradientType=1);
}
.homeRight {
    margin-left: 410px; /* Same as the width of the sidenav */
}
.homeLeft a {
	   padding: 6px 6px 6px 32px;
    text-decoration: none;
    font-size: 25px;
    color: #818181;
    display: block;
}
.homeLeft a:hover {
	color: #f1f1f1;
}
@media screen and (max-height: 450px) {
	.sidenav {
		padding-top: 15px;
	}
	.sidenav a {
		font-size: 18px;
	}
}
/* Search bar and vertical menu*/

#searchBar {
	width: 190px;
	box-sizing: border-box;
	border: 2px solid #ccc;
	border-radius: 4px;
	font-size: 16px;
	background-color: white;
	background-image: url(../images/search.png);
	background-position: 10px 10px;
	background-repeat: no-repeat;
	padding: 12px 20px 12px 40px;
	-webkit-transition: width 0.4s ease-in-out;
	transition: width 0.4s ease-in-out;
	margin-left: 20px;
}
/* When the input field gets focus, change its width to 100% */

#searchBar:focus {
	width: 90%;
}
.vertical-menu {
	width: 100%;
}
.vertical-menu a {
	color: #ffffff;
	/* Black text color */
	display: block;
	/* Make the links appear below each other */
	padding: 12px;
	/* Add some padding */
	text-decoration: none;
	/* Remove underline from links */
}
.vertical-menu a:hover {
	background-color: #ccc;
	/* Dark grey background on mouse-over */
}
.userFlash {
	background-color: #bd8f13;
	/* Add a green color to the "active/current" link */
	color: white;
	padding-top: 10pt;
	padding-bottom: 10pt;
}
/* This is the styling for the submit new listing page */

#info {
    max-width: 100%;
    background-color: #f4f7f8;
    border-radius: 8px;
    padding: 5px 20px;
    margin: 20px 50px 0px 10px;
    font-family: Georgia, "Times New Roman", Times, serif;
}

#proLink {
	text-color: blue;
}

.form-style-5 {
	max-width: 80%;
	padding: 10px 20px;
	background: #f4f7f8;
	margin: 10px auto;
	padding: 20px;
	background: #f4f7f8;
	border-radius: 8px;
	font-family: Georgia, "Times New Roman", Times, serif;
}
.form-style-5 fieldset {
	border: none;
}
.form-style-5 legend {
	font-size: 1em;
	margin-bottom: 10px;
}
.form-style-5 label {
	display: block;
	!important;font-size: 14pt;
	margin-bottom: 8px;
}
.form-style-5 input[type="text"], .form-style-5 input[type="date"], .form-style-5 input[type="datetime"], .form-style-5 input[type="email"], .form-style-5 input[type="number"], .form-style-5 input[type="search"], .form-style-5 input[type="time"], .form-style-5 input[type="url"], .form-style-5 textarea, .form-style-5 select {
	font-family: Georgia, "Times New Roman", Times, serif;
	background: rgba(255, 255, 255, .1);
	border: none;
	border-radius: 4px;
	font-size: 16px;
	margin: 0;
	outline: 0;
	padding: 7px;
	width: 60%;
	box-sizing: border-box;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	background-color: #e8eeef;
	color: #8a97a0;
	-webkit-box-shadow: 0 1px 0 rgba(0, 0, 0, 0.03) inset;
	box-shadow: 0 1px 0 rgba(0, 0, 0, 0.03) inset;
	margin-bottom: 30px;
}
.form-style-5 input[type="text"]:focus, .form-style-5 input[type="date"]:focus, .form-style-5 input[type="datetime"]:focus, .form-style-5 input[type="email"]:focus, .form-style-5 input[type="number"]:focus, .form-style-5 input[type="search"]:focus, .form-style-5 input[type="time"]:focus, .form-style-5 input[type="url"]:focus, .form-style-5 textarea:focus, .form-style-5 select:focus {
	background: #d2d9dd;
}
.form-style-5 select {
	-webkit-appearance: menulist-button;
	height: 35px;
}
.form-style-5 .number {
	background: #1B3A56;
	color: #fff;
	height: 30px;
	width: 30px;
	display: inline-block;
	font-size: 0.8em;
	margin-right: 4px;
	line-height: 30px;
	text-align: center;
	text-shadow: 0 1px 0 rgba(255, 255, 255, 0.2);
	border-radius: 15px 15px 15px 0px;
}
.form-style-5 input[class="submitlisting"], .form-style-5 input[type="button"] {
	position: relative;
	display: block;
	padding: 19px 39px 18px 39px;
	color: #FFF;
	margin: 0 auto;
	background: #17005b;
	font-size: 18px;
	text-align: center;
	font-style: normal;
	width: 100%;
	border: 1px solid #17005b;
	border-width: 1px 1px 3px;
	margin-bottom: 10px;
}



.form-style-5 input[type="submit"]:hover, .form-style-5 input[type="button"]:hover {
	background: rgba(23, 0, 91, 0.63);
}
.picSub {
	font-size: 14pt;
	width: 30%
}

th, td
{
    padding:0 10px 0 15px;
    text-decoration: none;

}
td{
    font-size: 14pt;
    text-decoration: none;

}
.listingHold {

    width: 1100px;
    text-decoration: none;
}
a{
    text-decoration: none;
}
.labelPass{
	font-size: 18pt;

}

/*Star Rating Stuff*/
.RatingForUser {
    padding:0px;
    text-decoration: none;
}

/*Not sure why, but wound up having to make inner and outer star classes plural so
styling would repeat for the consecutive stars*/
.starRatings-outer {
  display: inline-block;
  position: relative;
  font-family: FontAwesome;
}

.starRatings-outer::before {
  content: "\f006 \f006 \f006 \f006 \f006";
}

.starRatings-inner {
  position: absolute;
  top: 0;
  left: 0;
  white-space: nowrap;
  overflow: hidden;
  width: 0;
}

.starRatings-inner::before {
  content: "\f005 \f005 \f005 \f005 \f005";
  color: #f8ce0b;
}

