<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta content="width=device-width, initial-scale=1, shrink-to-fit=no" name="viewport">


    <title>Change Password</title><!-- Bootstrap core CSS -->
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" rel="stylesheet"><!-- Custom styles for this template -->
    <link href="{{ url_for('static',filename='css/index.css') }}" rel="stylesheet" type="text/css">
    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">
    <script src="https://code.jquery.com/jquery-3.3.1.min.js" integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8=" crossorigin="anonymous"></script>

    <style>

    </style>


</head>
<body >


{% include "header.html" %}

<div style="width: 100%;" class="container">
    <div class="homeLeft">
        <div>
        <h4>{% include "flash_message.html" %}</h4>
        </div>
    <h1>{% include "sideNav.html" %}</h1>
        </div>

            <div class="homeRight ">
                <div style="overflow-x:auto;">
                <form  class="resetForm" method="POST" role="login" action="changepassword.html" id="resetForm" onsubmit="return checkForm();" >
                <img src="static/images/concordia.png" class="img-responsive" alt="" />
                        <div class="box box-primary">
                            <div class="box-header">
                            <h2 class="page-header">  Change Password</h2><br>
                            </div><!-- /.box-header -->

                                <div class="box-body">
                                    <div class="row">
                                        <div class="col-md6">
                                            <div class="input-group" style="padding-right: 80pt;">
                                            <label class="labelPass">Old Password &nbsp; &nbsp;&nbsp;&nbsp; &nbsp; &nbsp;</label>
                                                <div class="input-group-addon">
                                                <i class="fa fa-lock"></i>
                                                </div>
                                            <input class="form-control" id="oldPassword" name="oldPassword" value="{{request.form.oldPassword }}" placeholder="Enter the Old Password" type="password" >
                                            </div>
                                        </div><!-- /.input group -->
                                    </div>
                                    <br/>
                                    <div class="row">
                                        <div class="col-md6">
                                            <div class="input-group" style="padding-right: 80pt;">
                                            <label class="labelPass">New Password  &nbsp;  &nbsp; &nbsp; &nbsp;</label>
                                                <div class="input-group-addon">
                                                <i class="fa fa-lock"></i>
                                                </div>
                                            <input class="form-control" id="newPassword" name="newPassword" value="{{request.form.newPassword }}" placeholder="Enter the New Password" type="password"/>
                                            </div><!-- /.input group -->
                                        </div>
                                    </div>
                                    <br/>
                                    <div class="row">
                                        <div class="col-md6">
                                            <div class="input-group" style="padding-right: 180pt;">
                                            <label class="labelPass">Confirm Password  &nbsp;</label>
                                                <div class="input-group-addon">
                                                <i class="fa fa-lock"></i>
                                                </div>
                                            <input class="form-control" id="confirmPassword" name="confirmPassword" value="{{request.form.confirmPassword }}" placeholder="Re-enter the New Password" type="password">
                                            </div>
                                        </div><!-- /.input group -->
                                    </div>
                                </div>
                            </div>
                                    <br>
                                    <div style="padding-right: 617pt; ">
                                    <input class="submitlisting" type="submit"  value="Apply" style="background-color: forestgreen;color:white;height:62px;width: 45% !important;cursor: pointer;"> <a href="changepassword.html"> </a>
                                    <button type="reset" name="Reset" value="Clear" class="btn btn-primary"><i class="fa fa-trash"  data-hc="0" onclick="this.form.reset()"></i> Clear</button>
                                    </div>

                         <div>
					        <h4>{% include "flash_message.html" %}</h4>
				        </div>

                </form>
                </div>
            </div>
        </div>
</body>
</html>
{#
<script>
   $(document).ready(function () {
       function resetForm() {
         document.getElementById("resetForm").reset();
       }


       function checkForm() {
           var oldpassword = document.getElementById('oldPassword').value;
           var newpassword = document.getElementById('newPassword').value;
           var confirmpassword = document.getElementById('confirmPassword').value;
           if (oldpassword == "" || newpassword == "" || confirmpassword == "") {
               alert('Please fill all the details');
           }
           else if (oldpassword == newpassword) {
               alert("Old password and New Password cannot be same");
           }
           else if (newpassword != confirmpassword) {
               alert("password mismatch");
           }
       }
   })
</script>#}
