{% with messages = get_flashed_messages(with_categories=true) %}
  {% if messages %}
    <ul class=flashes>
    {% for category, message in messages %}
     <label class="{{ category }}">{{ message }}</label>
    {% endfor %}
    </ul>
  {% endif %}
{% endwith %}


 {% if error %}
<center><div class="alert alert-danger">{{error}}</div></center>
{% endif %}

{% if msg %}
<div class="alert alert-success">{{msg}}</div>
{% endif %}





<style>
{
			font-family: Arial, Helvetica, sans-serif;
			font-size: 10px;
		}
		.info,.error {
		    width: 400px;
			border: 1px solid;
            margin: 10px 0px;
            padding: 15px 10px;
            background-repeat: no-repeat;
            background-position: 10px center;
		}

		.error{
			color: #D8000C;
			background-color: #FFBABA;
			background-image: url('https://i.imgur.com/GnyDvKN.png');
		}


</style>

