<!-- Footer -->
<footer class="w3-center w3-padding" id="footer" >
    <h6> </h6>
  <p> &copy; 2018 CSP Student Bookstore </p>

</footer>
<style>

    body {
        font-family: 'Open Sans', sans-serif;
        font-size: 12px;
        font-weight: 200;
        color: #4c4c4c;
        padding-top: 4%;
        font-weight: 200;
    }

    a{
        text-decoration: none!important;
        font-weight: 200;

    }

    .h1, .h2, .h3, .h4, .h5, .h6, h1, h2, h3, h4, h5, h6 {
        margin-bottom: .5rem;
        font-family: inherit;
        font-weight: 300;
        line-height: 1.2;

    }

    h1 {
        font-size: 32px;
        font-weight: 500;
        color: #4c4c4c;
        text-align: center;
        padding-top: 10px;
        margin-top: 20px;
        margin-bottom: 10px;
    }

    a {
        text-decoration: none;
    }
    .indexBackground {
        background: url(../images/concordia11.png);
        opacity: .55;
        background-position: center center;
        background-size: cover;
        border-top:black 2px solid;
        border-bottom: 1pt black solid;
        margin-right: -15pt;
        margin-left: -15pt;
        margin-top: -13pt;
        height: 60vh;
        background-repeat: no-repeat;
        overflow: hidden;
    }

    #footer {
    !important;
        background-color: #003055;
        color: white;
    }

    * {
        -webkit-box-sizing: border-box;
        -moz-box-sizing: border-box;
        box-sizing: border-box;
        outline: none;
    }

</style>