<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>CSP Student Bookstore Forum</title>
	<meta content="width=device-width, initial-scale=1" name="viewport">
	<link href="{{ url_for('static',filename='css/index.css') }}" rel="stylesheet" type="text/css">
	<link href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" rel="stylesheet">
	<link href="https://www.w3schools.com/w3css/4/w3.css" rel="stylesheet">
</head>
<body>

{% include "header.html" %}

<div> <h4>{% include "flash_message.html" %} </h4></div>
<div style="width: 100%;">
   <div class="homeLeft">
       <center><div class="userFlash">
       <h6> <b>Welcome {{session.fullname}} </b></h6>
       <h6> You are currently logged in </h6>
       </div></center><br>
       <input id="searchBar" type="text" name="search" placeholder="Search.."><br><br><br>
       <div class="vertical-menu">
          <a href="profile.html">Profile</a>
          <a href="newpost.html">Create New Post</a>

        </div>

   </div>
   <div class="homeRight">
       <div style="overflow-x:auto;">

          {% for x in data %}
              {# Will need to add the id to the end of lsiting#}
              <a href="listing.html">
                <tr>
                    <td>{{ firstname }}  {{ lastname}}</td>
                    <td>{{ listtitle }} </td>
                </tr>
              </a>
    {% endfor %}

  <table>

  </table>
</div>
   </div>
</div>
<div style="clear:both"></div>



</body>
</html>