<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>CSP Student Bookstore Forum</title>
	<meta content="width=device-width, initial-scale=1" name="viewport">
	<link href="{{ url_for('static',filename='css/index.css') }}" rel="stylesheet" type="text/css">
	<link href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" rel="stylesheet">
	<link href="https://www.w3schools.com/w3css/4/w3.css" rel="stylesheet">
</head>
<body>
	{% include "header.html" %}
	<div>
		<h4>{% include "flash_message.html" %}</h4>
	</div>
	<div style="width: 100%;">
		<div class="homeLeft">
			{% include "sideNav.html" %}
		</div>
	</div>
	<div class="homeRight">
		<div style="overflow-x:auto;">
			<div class="holdsListings">
				<table id="listingTable">
                {% for listing in listings %}
					<tr>
                        <a href={url_for("listing.html", id)}></a>
						<td>{{ listing.idnum }}</td>
						<td>{{ listing.userfirst }} + {{ listing.userlast }}</td>
						<td>{{ listing.titleofpost }}</td>
					</tr>
                {% endfor %}
                </table>
			</div>
		</div>
	</div>
	<div class="style="></div>
</body>
</html>