<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Concordia Used Bookstore</title>
	<meta content="width=device-width, initial-scale=1" name="viewport">
	<link href="{{ url_for('static',filename='css/index.css') }}" rel="stylesheet" type="text/css">
	<link href="https://www.w3schools.com/w3css/4/w3.css" rel="stylesheet">
</head>
<body>
	{% include "header.html" %}
	<div class="container">
    <header class="indexBackground">

    </header>
    </div>
    {% include "footer.html" %}
</body>
</html>