<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Concordia Used Bookstore</title>
	<meta content="width=device-width, initial-scale=1" name="viewport">
	<link href="{{ url_for('static',filename='css/index.css') }}" rel="stylesheet" type="text/css">
	<link href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" rel="stylesheet">
	<link href="https://www.w3schools.com/w3css/4/w3.css" rel="stylesheet">
</head>
<body>
	{% include "header.html" %}
	<div class="iii&quot;">
		<header class="indexBackground"></header>
		<div class="indexContent">
			<div class="row">
				<div class="col-lg">
					<center>
						<h2 style="!important; font-size: 32pt">Textbooks are crazy expensive, amirite?</h2>
					</center><br>
					<br>
					<p class="textbookBio">We think so too. Here at Concordia St.Paul, we pride our students in taking the initiative to create a better solution for the insane textbook prices.</p><br>
					<p class="textbookBio">Whether you're looking to buy,sell, or rent a textbook, CSP Student Bookstore can take care of you. Our safe, secure forum, let's you interact with other CSP students, to ensure you can find what you are looking for.</p><br>
					<a href="signup.html"><input id="signupButton" style="position: absolute;bottom: 18%; right: 43%; height: 10%; width: 35%;background: powderblue;font-size:16pt; font-family: 'Ubuntu', 'Lucida Grande', 'Lucida Sans Unicode', 'Geneva', 'Verdana', sans-serif; border-radius: 10%; margin-top: 30pt" type="button" value="Get Crazy Deals on Books!"></a>
				</div>
				<div class="col-lg">
					<p><img class="textbooks" src="static/images/textbooks.jpg"></p>
				</div>
			</div>
		</div>
	</div>{% include "footer.html" %}
</body>
</html>