<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>CSP Student Bookstore Listing</title>
	<meta content="width=device-width, initial-scale=1" name="viewport">
	<link href="{{ url_for('static',filename='css/index.css') }}" rel="stylesheet" type="text/css">
	<link href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" rel="stylesheet">
	<link href="https://www.w3schools.com/w3css/4/w3.css" rel="stylesheet">
</head>
<body>
	{% include "header.html" %}
	<div>
		<h4>{% include "flash_message.html" %}</h4>
	</div>
	<div style="width: 100%;">
        <div class="homeLeft">
			{% include "sideNav.html" %}
        </div>
            <div class="homeCenter">
              	<form method="POST" action="/listing" enctype="multipart/form-data">

              	<center>Hello</center>
              	<br><br>
                         <center><a>

                            <p>{{firstname}}</p>
                            <p>{{lastname}}</p>
                            <p>{{listID}}</p>
                            <p>{{listtitle}}</p>


                         </a></center>

              	</form>

                        </div>
                    </div>
			    </div>
		    </div>
	    </div>
	<div style="clear:both"></div>
</body>
</html>