<head>
	<link href="https://www.w3schools.com/w3css/4/w3.css" rel="stylesheet">
	<link href="{{ url_for('static',filename='css/index.css') }}" rel="stylesheet" type="text/css">
    <link href="https://fonts.googleapis.com/css?family=Open+Sans" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Arima+Madurai" rel="stylesheet">
</head>
<body>
	<div class="w3-top">
		<div class= "headerColor w3-padding w3-card-2">
            <a href="./"><img class="logo" src="static/images/concordia.png">&nbsp; &nbsp;CSP Student Bookstore</a>

			  <!-- Float links to the right. Hide them on small screens -->
			<div class="w3-right w3-hide-small" style="padding-top: 7pt;">
               <a class="w3-bar-item w3-button" href="index.html">Sign Out</a>


			</div>
		</div>
	</div>


</body>