<!doctype html>
<html lang="en">

  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="../../../../favicon.ico">

    <title>Login to Concordia Used Bookstore</title>

    <!-- Bootstrap core CSS -->
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="signin.css" rel="stylesheet">
  </head>
<body class="signInBack">

{% include "header.html" %}
<div class="container">

  <div class="row" id="pwd-container">
    <div class="col-md-4"></div>

    <div class="col-md-4">
      <section class="login-form">
        <form method="POST" role="login" action="login.html" >
          <img src="static/images/concordia.png" class="img-responsive" alt="" />
          <center><div> <h4>{% include "flash_message.html" %} </h4></div></center>

          <input type="email" id="inputEmail" name="email" placeholder="yourname@csp.edu" required class="form-control input-lg" value="{{request.form.email}}"required autofocus/>

          <input type="password" class="form-control input-lg" id="password" placeholder="Password" required="" value="{{request.form.password}}"/>

          <button type="submit" name="go" class="btn btn-lg btn-primary btn-block">Sign in</button>
          <div>
            {#I added reset password on here as a placeholder , since he talked about this for the future maybe#}
              <a class="links" href="signUp.html">Create account</a> or <a class="links" href="#">reset password</a>
            
                
          </div>

        </form>

      </section>
      </div>

      <div class="col-md-4"></div>


  </div>
</div>
</body>
</html>






