<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>CSP Student Bookstore Forum</title>

    <meta content="width=device-width, initial-scale=1" name="viewport">
	<link href="{{ url_for('static',filename='css/index.css') }}" rel="stylesheet" type="text/css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
	<link href="https://www.w3schools.com/w3css/4/w3.css" rel="stylesheet">
</head>
<body>
{% include "header.html" %}

<div> <h4>{% include "flash_message.html" %} </h4></div>
<div style="width: 100%;">
   <div class="homeLeft">
       <center><div class="userFlash"> <h4> You are logged in with email {{session.user_email}} </h4></div></center><br>
       <input id="searchBar" type="text" name="search" placeholder="Search.."><br><br><br>
       <div class="vertical-menu">
          <a href="profile.html">Profile</a>
          <a href="newpost.html">Create New Post</a>

        </div>

   </div>
   <div class="homeRight">
       <div style="overflow-x:auto;">

           {% for row in rows %}
                <tr>
                    <td>{{ row.idnum }}</td>
                    <td>{{ row.userfirst }} + {{ row.userlast }}</td>
                    <td>{{ row.titleofpost }} </td>

                </tr>
    {% endfor %}
  <table>

  </table>
</div>
   </div>
</div>
<div style="clear:both"></div>


</body>
</html>