<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>CSP Student Bookstore Forum</title>
	<meta content="width=device-width, initial-scale=1" name="viewport">
	<link href="{{ url_for('static',filename='css/index.css') }}" rel="stylesheet" type="text/css">
	<link href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" rel="stylesheet">
	<link href="https://www.w3schools.com/w3css/4/w3.css" rel="stylesheet">
</head>
<body>
	{% include "header.html" %}
	<div>
		<h4>{% include "flash_message.html" %}</h4>
	</div>
	<div style="width: 100%;">
		<div class="homeLeft">
			{% include "sideNav.html" %}
		</div>
    </div>

	<div class="homeRight">
        <div style="overflow-x:auto;">
            <div class="form-style-5">
            <form method="POST" action="newpost.html" enctype="multipart/form-data">


					<fieldset>
						<legend><span class="number">1</span> Personal Information</legend>
                        <input name="field3" placeholder="Title of Listing *" type="text">
					</fieldset>
					<fieldset>
						<legend><span class="number">2</span> Book Information</legend>
                        <input name="field4" placeholder="Book ISBN*" type="text">


                    <input name="field5" placeholder="Book Title*"  type="text">
                    <input name="field6" placeholder="Book Author*"  type="text">
                    <input name="field7" placeholder="Book Publisher*" type="text">
                    <input name="field8" placeholder="Book Edition (If available)*" type="text">

                    <textarea name="field10" placeholder="Book Comments: Example: Condition"></textarea>
                </fieldset>
                <input accept="image/*" class="picSub" name="pic" type="file">
                 <br>
                 <br>
                <fieldset>
                    <legend><span class="number">3</span> Course Information</legend> <input name="field11"  placeholder="Course Title*" type="text"> <input name="field12"  placeholder="Course Number*" type="text">

                </fieldset>
                <fieldset>
                    <legend><span class="number">4</span> Payment Information</legend> <label for="job">Payment Type</label> <select id="job" name="field13">
                        <optgroup label="Payment Type">
                            <option value="sell">
                                Sell
                            </option>
                            <option value="trade">
                                Trade
                            </option>
                            <option value="rent">
                                Rent
                            </option>
                        </optgroup>
                    </select>
                </fieldset>

                <input class="submitlisting" type="submit"  value="Apply"> <a href="newpost.html"> </a>

            </form>
			</div>
		</div>
	</div>
</body>
</html>