<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>CSP Student Bookstore Forum</title>
	<meta content="width=device-width, initial-scale=1" name="viewport">
	<link href="{{ url_for('static',filename='css/index.css') }}" rel="stylesheet" type="text/css">
	<link href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" rel="stylesheet">
	<link href="https://www.w3schools.com/w3css/4/w3.css" rel="stylesheet">
</head>
<body>
	{% include "header.html" %}
	<div>
		<h4>{% include "flash_message.html" %}</h4>
	</div>
	<div style="width: 100%;">
		<div class="homeLeft">
			{% include "sideNav.html" %}
		</div>
	</div>
	<div class="homeRight">
		<div style="overflow-x:auto;">
			<div id="info" align="left" style="overflow-x:auto;">
                <h1 id="userInfo">User Information:</h1>
                <p>
                    Name: <br />
                    {# place SQL query here #}
                </p>
                <p>
                    Email Address: <br />
                    {# place SQL query here #}
                </p>
                <p>
                    Phone Number: <br />
                    {# place SQL query here #}
                </p>
                <p>
                    Average User Rating: <br />
                    {# place SQL query here #}
                </p>
			</div>
		</div>
	</div>
	<div style="clear:both"></div>
</body>
</html>