<div class="userFlash" align="center">

    <h4>You are signed in with {{session.user_email}}</h4>

				</div>
			</center><br>
			<div class="vertical-menu">
                <a href="{{ url_for('profile')}}">Profile</a>

                <a href="{{ url_for('newpost')}}">Create New Listing </a>

                <a href="{{ url_for('changepassword')}}">Change Password </a>

                <a href="{{ url_for('search')}}">Search Books </a>
			</div>
		</div>



<style>
    .vertical-menu a{
             font-family: 'Open Sans', sans-serif;
            font-weight: 100;
    }
</style>

