<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Concordia Student Bookstore Signup</title>
</head>
<body>
	{% include "header.html" %}
	{% block body %}

	<div class="container">
		<div class="left split">

			<h1 class="signUpHeading">Sign up</h1>
            <p class="useEmail">Please enter your Concordia email address. Currently, the Concordia Student Bookstore is only available to the St.Paul campus in Minnesota. </p>
              <p class="future">Stop by in the future to see if your campus has been added.</p>

		<form class="signUpForm" method="POST" action="signup.html">
		    <label class="signUpLabel" for="first-name">First Name</label><input autofocus="" class="form-control" id="first-name" name="firstname" value = "{{request.form.firstname }}"placeholder="First Name" required="" type="text"><br><br>
         				<label class="signUpLabel" for="last-name">Last Name</label><input autofocus="" class="form-control" id="last-name" name="lastname" value = "{{request.form.lastname }}"placeholder="Last Name" required="" type="text"> <br><br>

         				<label class="signUpLabel" for="inputEmail">Email address</label><input autofocus="" class="form-control" id="email" name="email" value = "{{request.form.email }}"placeholder="yourname@csp.edu" required="" type="email"> <br><br>
         				<label class="signUpLabel" for="inputPassword">Password</label><input class="form-control" id="password" name="password" value = "{{request.form.email }}"placeholder="Password" required="" type="password"> <br><br>
         				<label class="signUpLabel" for="inputPassword">Re-enter Password</label><input class="form-control" id="password" name="confirmpassword" value = "{{request.form.confirmpassword }}"placeholder="Password" required="" type="password"> <br><br>

           <button id="btnSignUp" type="submit" value="submit">Sign up</button>

		</form>


			<center><p ><a href="login.html"> Already a member? Sign in <a href="login.html">here.</a> </a></p></center>
			      <center><div> <h4>{% include "flash_message.html" %} </h4></div></center>



		</div>
		<div class="right split2"></div>
	</div>
{% include "footer.html" %}
</body>
     {% endblock %}
</html>

</div>
</body>


</html>

