<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Concordia Student Bookstore Signup</title>
</head>
<body>
	{% include "header.html" %}
	<div class="container">
		<div class="left split">
			<br>
			<br>
			<h1 class="signUpHeading">Sign up</h1>
            <p class="useEmail">Please enter your Concordia email address. Currently, the Concordia Student Bookstore is only available to the St.Paul campus in Minnesota. </p>

            <br> <p class="future">Stop by in the future to see if your campus has been added.</p>
			<form class="signUpForm"action="/register" method="post">
<label class="signUpLabel" for="first-name">First Name</label><input autofocus="" class="form-control" id="first-name" name="first-name" placeholder="First Name" required="" type="text"><br><br>
				<label class="signUpLabel" for="last-name">Last Name</label><input autofocus="" class="form-control" id="last-name" name="last-name" placeholder="Last Name" required="" type="text"> <br><br>
				<label class="signUpLabel" for="inputEmail">Email address</label><input autofocus="" class="form-control" id="email" name="email" placeholder="yourname@csp.edu" required="" type="email"> <br><br>
				<label class="signUpLabel" for="inputPassword">Password</label><input class="form-control" id="password" name="password" placeholder="Password" required="" type="password"> <br><br>
				<label class="signUpLabel" for="inputPassword">Re-enter Password</label><input class="form-control" id="password" name="password" placeholder="Password" required="" type="password"> <br><br>
                <br>
                <button id="btnSignUp" type="submit">Sign up</button>
			</form>
			<center><p ><a href="login.html"> Already a member? Sign in <a href="login.html">here.</a> </a></p></center>
		</div>
		<div class="right split2"></div>
	</div>
{% include "footer.html" %}
</body>
</html>



</div>

</body>
</html>

{#        {{ form.hidden_tag() }}#}
{#        {{ form.username.label }} {{ form.username(size=50) }}#}
{#        <br>#}
{#        {{ form.password.label }} {{ form.password(size=50) }}#}
{#        <br>#}
{#        {{ form.email.label }} {{ form.email(size=50) }}#}
{#        <br>#}